*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Crimson Text', serif;
    font-family: 'Poppins', sans-serif;
  }
.pack{
 display: flex;
 flex-direction: column;
 align-content:center;
 width: 300px;
 text-decoration: none;
 color:black;
}


.pack img{
    margin: 20px;
    padding: 10px;
    width: 80%;
    height: 80%;
    object-fit: cover;
}
